* {
	margin: 0;
	padding: 0;
}
body {
	background: #111;
}
.error {
	color: #FF2828;
	text-align: center;
}
#login {
	position: relative;
	text-align: center;
	top: 200px;
}
#login p {
	margin: 5px;
}
input[type=submit] {
	width: 80px;
}
#main {
	margin: 0 auto;
	width: 1000px;
}