* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url(../../fonts/Roboto-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Roboto-b';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(../../fonts/Roboto-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Consol';
	font-style: normal;
	font-weight: 400;
	src: local('Consolas'), url(../../fonts/Consolas.ttf) format('ttf');
}
article, aside, details, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
html {
	height: 100%;
}
body {
	background: #fff;
	height: 100%;
}
.clr {
	clear: both;
}
/* Header */
header {
	background: #222;
	height: 50px;
	width: 100%;
}
h1 {
	color: #88ffff;
	font: 23px Consol, Roboto, Tahoma, Arial, Verdana;
	padding: 10px 0 0;
	text-align: center;
}
.name_admin {
	color: #bbb;
	position: absolute;
	font: 16px Roboto;
	padding: 12px 0 0 10px;
}
.name_admin span {
	color: #fff;
	font: bold 16px Roboto, Tahoma, Arial, Verdana;
}
.site {
	position: absolute;
	right: 200px;
	top: 0;
	padding: 13px 0 0;
}
.site a {
	color: #fb0;
	font: 16px Roboto, Tahoma, Arial, Verdana;
}
.site a:hover {
	text-decoration: none;
}
.exit {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 20px 0 0;
}
.exit a {
	color: #bbb;
	font: 16px Roboto, Tahoma, Arial, Verdana;
	text-decoration: none;
}
.exit a:hover {
	color: #fff;
}
#wrapper {
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	width: 100%;
}
/* Content */
#main {
	overflow: hidden;
}
#content {
	float: right;
	margin-right: -200px;
	width: 100%;
}
.container {
	background: #e5e5e5;
	position: relative;
	padding-bottom: 32000px;
	margin-bottom: -32000px;
	margin-right: 200px;
	min-height: 1450px;
	z-index: 0;
}
.main {
	margin-top: -15px;
	height: auto !important;
	min-height: 100%;
	height: 100%;
}

/* Session result */
.error {
	color: #FF2828;
	font: 16px Roboto, Tahoma, Arial, Verdana;
	text-align: center;
}
.error_add {
	color: red;
	font: 16px Roboto, Tahoma, Arial, Verdana;
	margin: 10px 0 0;
	text-align: left;
}
.success {
	background: #fff;
	border: 1px solid #0b0;
	color: #00aa00;
	font: 16px Roboto, Tahoma, Arial, Verdana;
	margin: 10px 0 0 20px;
	padding: 4px 7px;
	width: 280px;
}

/* Login */
#login {
	margin-top: 15px;
	text-align: center;
}
#login input[type=text], #login input[type=password] {
	border-radius: 3px;
	height: 25px;
	padding: 0 5px;
	width: 200px;
}
#login input[type=submit] {
	border-radius: 4px;
	height: 25px;
	width: 110px;
}
.form_login {
	position: relative;
	top: 200px;
}
.form_login h2 {
	color: #333;
	font: 18px Roboto, Tahoma, Arial, Verdana;
	margin: 0 0 15px;
	text-align: center;
}
#login p {
	margin: 5px;
}
input#subm {
	width: 80px;
}

/* Admin Panel*/
.main_pic {
	position: relative;
	top: 20px;
	left: -150px;
}
.container h4, .container h5 {
	color: #0000aa;
	margin-top: 12px;
	margin-left: -200px;
	text-align: center;
}
/* Edit news/motonews */
.news_title {
	background: #f5f5f5;
	border: 1px solid #777;
	margin: 10px 0 0 20px;
	padding: 0 0 5px;
	width: 93%;
}
.title_news_table {
	color: #000;
	font: bold 16px Roboto, Tahoma, Arial, Verdana;
	text-transform: uppercase;
}
.title_news_table td {
	background: #cdc;
	margin: 0 0 20px;
}
.news_title td {
	border-bottom: 1px solid #888;
	border-left: 1px solid #888;
	padding: 5px 0;
}
.news_title td:first-child {
	border-left: none;
	padding: 0 0 0 15px;
}
.news_title td a {
	color: #555;
	font: 16px Roboto, Tahoma, Arial, Verdana;
	text-decoration: none;
}
.news_title td a:hover {
	color: blue;
}
.news_title td a[href*=delete] {
	color: red;
	font: 12px Tahoma, Arial, Verdana;
}
.news_title td a[href*=delete]:hover {
	text-decoration: underline;
}
td.add_new {
	margin: 0 0 15px;
}
td.add_new a {
	color: #b00;
	text-decoration: underline;
	text-transform: uppercase;
}
td.add_new a:hover {
	color: #b00;
	text-decoration: none;
}
.td_date {
	color: #555;
	font: 14px Roboto, Tahoma, Arial, Verdana;
	text-align: center;
	width: 160px;
}
.del_news {
	text-align: center;
	width: 110px;
}
/* Add/update news/moto_news */
section {
	margin: 0 0 30px;
	padding: 20px 20px 0 20px;
}
section p {
	color: #333;
	font: 16px Roboto, Tahoma, Arial, Verdana;
	margin: 12px 0;
}
section h2, .container h2 {
	color: #009;
	font: bold 20px Roboto, Tahoma, Arial, Verdana;
}
h2.titles {
	padding: 15px 0 0 35px;
}
.cat_news option {
	width: 60px;
}
input#title_news, input#keywords_news, input#description_news {
	background: #fff;
	color: #333;
	border: 1px solid #ccc;
	font: 14px Roboto, Tahoma, Arial, Verdana;
	height: 25px;
	padding: 0 5px;
	width: 350px;
}
input#submit_new {
	background: #ccc;
	border: 1px solid #aaa;
	border-radius: 3px;
	color: #333;
	height: 25px;
	margin: 20px 0 0;
	width: 130px;
}
input#submit_new:hover {
	background: #ddd;
}
#cke_editor1, #cke_editor2 {
	max-width: 1300px;
}
.mini_img {
	border: 1px solid #666;
}
/* Leftside */
aside {
	background: #222;
	float: left;
	min-height: 700px;
	height: auto !important;
	margin-bottom: -32000px;
	padding-bottom: 32000px;
	position: relative;
	width: 200px;
	height: 100%;
}
aside h3 {
	border-bottom: 1px solid #fff;
	color: #fb0;
	font: 16px Roboto, Tahoma, Arial, Verdana;
	text-transform: uppercase;
	padding: 0 0 15px;
	margin: 15px 15px 0 15px;
}
aside ul {
	margin: 5px 0 0;
}
aside ul li {
	display: block;
	margin: 1px 0;
}
aside li:hover {

}
aside li a {
	color: #bbb;
	display: block;
	font: 16px Roboto, Tahoma, Arial, Verdana;
	padding: 5px 0 5px 15px;
	text-decoration: none;
}
aside li a:hover {
	background: #373737;
	color: #fff;
}
/* Footer */
footer {
	background: #222;
	color: #fff;
	height: 40px;
	margin: -40px auto 0;
	position: relative;
	width: 100%;
	z-index: 2;
}
footer p {
	font: 14px Roboto, Tahoma, Arial, Verdana;
	padding: 15px 0 0;
	text-align: center;
}